<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title> </title>
</head>
<body>
    <main class="wrapper">
        <h1>AT THE STAFF PAGE</h1>
        <section class="form-wrapper">
        <section class="form">
            <label for="username">Användarnamn</label>
            <input type="text" id="username" class="input-field">
            <label for="pass">Lösenord</label>
            <input type="password" id="pass" class="input-field">
        </section>
    
        <button id="submit" class="button">Logga in</button>
       
        </section>
    </main>

    <script src="script/staff.js"></script>
</body>
</html>